parameters:
    app_name:               docker-lgr-bundle

    config.rScript:         "/usr/bin/Rscript"
    config.dbDriver:        "postgresql-9.1-901.jdbc4.jar"

    encryption_key:

    components:
        docker-lgr-bundle:
            bundle:         Keboola\DockerLGRBundle\KeboolaDockerLGRBundle
